{:cfg/verbose    true

 :cfg/cache?     true
 :cfg/cache-path ".udeps-cache/"

 ;; :src/local Search and read an edn file in provided directory
 ;;
 ;;   (udeps/inject! :local/foo)
 ;;   => read file at .udeps/foo.edn

 :src/local  ".udeps/"

 ;; :src/remote Perform an HTTP GET query that return a function edn file
 ;;
 ;;   (udeps/inject! :http/hello-world.edn)
 ;;   => GET https://raw.githubu...nv/test/hello-world.edn

 :src/remote {:url     "https://raw.githubusercontent.com/Joeyjoejoe/micro-deps/master/env/test/resources/"
              :headers {"Accept" "*/*"}
              :as      :auto
              :timeout 1000}}
